body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-text;
  color: $color-text;
  font-weight: 300;
  background-color: #fff;
}

a {
  display: inline-block;
  color: $color-link;
  text-decoration: underline;
  text-decoration-color: rgba($color-link, 0.3);
  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  color: $color-title;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

h1 {
  color: $color-title;
  font-family:  $font-title;
  font-size: 74px;

  @include media(mtp) {
    font-size: 64px;
  }

  @include media(msl) {
    font-size: 60px;
  }

  @include media(msp) {
    font-size: 44px;
  }
}

h2 {
  font-size: 44px;

  @include media(mtp) {
    font-size: 32px;
  }
}

h3 {
  font-size: 26px;
  font-weight: 500;

  @include media(msd-2) {
    font-size: 24px;
  }

  @include media(msp) {
    font-size: 22px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.025em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

.anchor {
  position: relative;
  top: -80px;
}

.noScroll {
  overflow: hidden;
}

