@keyframes fly-1 {
  0% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    //box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
  }
  100% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@keyframes fly-2 {
  0% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    //box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@keyframes fly-3 {
  0% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    //box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-30px);
  }
  100% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}


@keyframes pulse {
  0% {
    box-shadow: $shadow;
  }
  50% {
    box-shadow: $shadow-pulse;
  }
  100% {
    box-shadow: $shadow;
  }
}

@keyframes loader {
  0% {
    background-color: #ccc;
    box-shadow: -17px 0 0 0 #ccc, 17px 0 0 0 #ccc;
  }
  20% {
    background-color: #ccc;
    box-shadow: -17px 0 0 0 $color-button-empty, 17px 0 0 0 #ccc;
  }
  40% {
    background-color: $color-button-empty;
    box-shadow: -17px 0 0 0 #ccc, 17px 0 0 0 #ccc;
  }
  60% {
    background-color: #ccc;
    box-shadow: -17px 0 0 0 #ccc, 17px 0 0 0 $color-button-empty;
  }
  100% {
    background-color: #ccc;
    box-shadow: -17px 0 0 0 #ccc, 17px 0 0 0 #ccc;
  }
}

@keyframes list-loader {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}