@lost flexbox flex;

//$mb-resp: 2.463328vw;

$md: 1170px;

$msd: 1650px;
$msd-2: 1440px;
$msd-3: 1200px;
$mtl: 960px;
$mtp: 768px;
$msl: 480px;
$msp: 320px;


$font-text: 'Circe', sans-serif;
$font-title: 'Circe', sans-serif;
$font-menu: $font-text;

$color-style-alt: #f55140;

$color-big-numbers: #fe7b7b;
//$color-pink-icon: #f86868; // $color-big-numbers
//$color-features-numbers: #fe7181; // $color-big-numbers

$color-bg-footer: #1c1c1c;

$color-text: #6c6c6c;
$color-text-card: #9d9c9f;
$color-title: #414141;
//$color-title-on-color: #000;

$color-tab: #603abb;
$color-link: #814ac4;
$color-button-empty: #802d8f;

$shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
$shadow-pulse: 0 0 34px rgba(247, 104, 104, 0.28);
$shadow-news-card: 0 0 60px rgba(17, 24, 75, 0.12);
$shadow-news-card-hover: 0 0 50px 10px rgba(17, 24, 75, 0.12);
$shadow-person: 0 13px 50px rgba(12, 12, 12, 0.09);
$shadow-person-text: 0 7px 64px rgba(215, 117, 78, 0.15);
$shadow-person-features: 0 7px 64px rgba(0, 0, 0, 0.07);
$shadow-arrow: 0 2px 10px rgba(214, 214, 214, 0.5);
$shadow-arrow-hover: 0 2px 10px 3px rgba(214, 214, 214, 0.5);



$gradient-button: linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
$gradient-button-unusial: linear-gradient(225deg, #3023ae 0%, #c86dd7 100%);
$gradient-button-alt: linear-gradient(to right, #fe7c5b 0%, #ed2424 100%);



// project gradients and color
$gradient-project-it: linear-gradient(225deg, #d4d97a 0%, #45b649 100%);
$gradient-project-social: linear-gradient(225deg, #73c8a9 0%, #8c9ec6 100%);
$gradient-project-culture: linear-gradient(225deg, #3d5975 0%, #4ca5e0 100%);
$gradient-project-tech: linear-gradient(180deg, #a49871 0%, #cecfa7 100%);
$gradient-project-management: linear-gradient(45deg, #e65c00 0%, #d8ba2c 100%);
$gradient-project-prof: linear-gradient(180deg, #f85032 0%, #e73827 100%);

$color-project-it : #00c48c;
$color-project-social : #82b0ba;
$color-project-culture : #4479a2;
$color-project-tech : #bcb891;
$color-project-management : #df8b16;
$color-project-prof : #ea3c29;


$icon-prev: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='25'%3E%3Cdefs%3E%3Cpath id='a' d='M198.424 2362.741c.18.173.406.259.653.259a.922.922 0 0 0 .653-.259.858.858 0 0 0 0-1.25l-11.48-10.991 11.48-10.991a.858.858 0 0 0 0-1.25.953.953 0 0 0-1.306 0l-12.154 11.616a.858.858 0 0 0 0 1.25l12.154 11.616z'/%3E%3C/defs%3E%3Cuse fill='%236979f8' xlink:href='%23a' transform='translate(-186 -2338)'/%3E%3C/svg%3E");
