-
  var howToList = [
  {
    type: 'video',
    title: 'Как найти идею',
    modifier: 'tech'
  },
  {
    type: 'text',
    title: 'Как собрать команду',
    modifier: 'tech'
  },
  {
    type: 'video',
    title: 'На что обратить внимание',
    modifier: 'it'
  },
  {
    type: 'video',
    title: 'Как найти идею',
    modifier: 'prof'
  },
  {
    type: 'text',
    title: 'Как собрать команду',
    modifier: 'prof'
  },
  {
    type: 'video',
    title: 'На что обратить внимание',
    modifier: 'culture'
  },
  {
    type: 'video',
    title: 'Как найти идею',
    modifier: 'social'
  },
  {
    type: 'text',
    title: 'Как собрать команду',
    modifier: 'culture'
  },
  {
    type: 'video',
    title: 'На что обратить внимание',
    modifier: 'management'
  },
  {
    type: 'video',
    title: 'Как найти идею',
    modifier: 'management'
  },
  {
    type: 'text',
    title: 'Как собрать команду',
    modifier: 'management'
  },
  {
    type: 'video',
    title: 'На что обратить внимание',
    modifier: 'management'
  },
  ];

// howToList
+b('howToList', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('list', '', 'ul')
      for i in howToList
        +e('item', {m: i.modifier})
          if i.type === 'video'
            include ../../../images/video.svg
          if i.type === 'text'
            include ../../../images/doc.svg

          +e('title', '', 'h3') !{i.title}
          if i.type === 'video'
            +b('button', { e: '&', m: 'empty' }, 'a')(class="howToList__button--inCard" href="https://www.youtube.com/watch?v=5gXwGfAo1q8" target="_blank" data-modal=".modal--video") Смотреть
          if i.type === 'text'
            +b('button', { e: '&', m: 'empty' }, 'a')(class="howToList__button--inCard" href="#0") Читать


    +b('button', { e: '&', m: 'more' }, 'a')(class="howToList__button--more" href="#0") Показать еще