-
  var projects = [
  {
  type: 'It проект ',
  modifier: 'it',
  answer: 'Привет, я Станислав! Я имею опыт в продвижении и разработке интернет проектов и буду рад поделиться им с тобой.',
  photo: 'team-04.png'
  },{
  type: 'Профориентационный',
  modifier: 'prof',
  answer: 'Привет, я Тома! Я курирую профориентационные проекты. Проектирование это преобразование мира и вместе с вами мы сможем преобразовать мир будущих профессий.',
  photo: 'team-03.png'
  },
  {
  type: 'Социальный',
  modifier: 'social',
  answer: 'Привет, меня зовут Саша. Я помогаю делать социальные проекты, которые делают нашу жизнь чуточку лучше. Мы решим проблему, которая волнует именно тебя.',
  photo: 'team-05.png'
  },
  {
  type: 'Социо-культурный',
  modifier: 'culture',
  answer: 'Привет, я Илья. Буду помогать вам на социо-культурном треке. Будем решать вопросы связанные с повышением уровня культурного развития общества и качества его жизни.',
  photo: 'team-01.png'
  },
  {
  type: 'Научно-технический',
  modifier: 'tech',
  answer: 'Привет, меня зовут Соловьева Юлия и я веду технологическое направление. Реализуем все смелые задумки с помощью современных технологий.',
  photo: 'team-03.png'
  },
  {
  type: 'Управленческий',
  modifier: 'management',
  answer: 'Привет, меня зовут Ваня. Я курирую управленческие проекты. Я расскажу, как сделать систему школьного самоуправления эффективной, а ваши предложения были услышаны. ',
  photo: 'team-02.png'
  },
  ];

// iCreate
+b('iCreate', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('row')
      +e('img'): img(src="./images/person.png" alt="")
      +e('blob', 'user') Я создаю #{' '}
        +e('select', '', 'select')
          for i in projects
            option(value=i.modifier)= i.type
        | #{' '}проект.

    +e('row')
      for i, index in projects
        +e('answer', {m: i.modifier})(hidden)
          +e('img'): img(src="./images/team/"+i.photo alt="")
          +e('blob', 'answer')
            +e('text') !{i.answer}
            +e('caption') Куратор направления

