// knowledgeBaseTiter
+b('knowledgeBaseTiter', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h1') База знаний
    +e('dscr', { e: 'block' }, 'p') Здесь вы найдете полезную информацию о том, какие шаги необходимо предпринять для старта своего проекта.