+e('heading', { e: 'block' }, 'h2') Вы успешно зарегистрировались!
+e('dscr', { e: 'block' }, 'p') Мы направили пароль на почту, указанную при регистрации.
+e('body', '', 'p') Для заполнения паспорта проекта нажмите кнопку ниже.
+b('button', { e: '&' }, 'a')(href="#0") Заполнить информацию о проекте