+e('title', '', 'h2') Вы успешно зарегистрировались!
+e('dscr', '', 'p') Мы направили пароль на почту, указанную при регистрации.<br>Для заполнения профиля нажмите кнопку ниже.
+b('button', { e: '&' }, 'a')(href="#0") Заполнить профиль