-
  const aboutFeatures = [
  {
    title: 'Практика',
    body: 'Создание реальных, работающих бизнес и социальных проектов со школьниками',
  },
  {
    title: 'Развиваем личность',
    body: 'Созданием условий для развития самоуправления внутри школьных коллективов',
  },
  {
    title: 'Обучаем в игровой форме',
    body: 'Обучаем в игровой форме более 50 игровых симуляторов для школьников, разработанные методистами факультета бизнеса «Капитаны»',
  },
  {
    title: 'Работаем в команде',
    body: 'Создание реальных, работающих бизнес и социальных проектов со школьниками',
  },
  ]

+b('aboutFeatures', '', 'ul')
  for i in aboutFeatures
    +e('item')
      +e('title', '', 'h3') !{i.title}
      +e('body') !{i.body}
