+b('aboutQuote')
  +e('person')
    +e('image'): img(src="./files/mentors/anna.jpg" alt="")
    +e('name') Анна Кострыкина
  +e('text')
    p Я Тома! Сегодня очень популярно Соци-культурное  направление. Мы подготовили для тебя обучающие материалы,
