// about
+b('about', { b: 'block' }, 'section')(id="about")
  +e('inner', { e: 'block' })
    +e('main')
      +e('heading', { e: 'block' }, 'h2') О проекте
      +e('body', { e: 'block' }, 'p') Создай свой проект в одной из предложенных категорий. Тебе будут помогать студенты старших курсов и образовательные материалы нашего сайта

    +e('video')
      include video

