-
  var logos = [
    'captains.png',
    'expedition.png',
    'geography.png',
  ];


// bySupport
+b('bySupport')
  +e('text', '', 'p')  При поддержке:
  +e('logos')
    for logo in logos
      +e('logo', '', 'img')(src="./files/support-by/"+logo alt="")
