-
  const cities = [
    'Москва',
    'Ижевск',
    'Санкт-Петербург',
    'Ростов-на-Дону',
    'Казань',
    'Воронеж',
    'Самара ',
    'Краснодар',
    'Томск',
    'Иваново',
    'Уфа',
    'Волгоград',
    'Челябинск',
    'Саратов',
    'Нижний Новгород',
    'Севастополь',
    'Ярославль',
    'Екатеринбург',
    'Белгород',
  ]

// cities
+b('cities', '', 'section')
  +e('inner')
    +e('heading', '', 'h2') Уже в Школе Дела
    +e('row')
      +e('main')
        +e('list', '', 'ul')
          for i in cities
            +e('item') !{i}

        +e('num')
          +e('numBig') 9 525
          +e('numText') учеников <br> по всей России
      +e('map')
