-
  var fakeProjects = [
    'wood-beetle.png',
    'animation-school.png',
    'art-line.png',
    'new-wave.png',
    'balloons-in-house.png',
    'balloons-in-house-2.png',
    'find-yourself.png',
    'museum.png'
  ]


// fakeProjects
+b('fakeProjects')
  for imgName in fakeProjects
    - var mod = imgName.slice(0, -4);
    +e('img', {m: mod}, 'img')(src="./images/fake-project/"+imgName alt="")