-
  var features = [
  {
  number: '275',
  text: 'Проектов',
  countSpeed: '500'
  },
  {
  number: '873',
  text: 'Участника',
  countSpeed: '1000'
  },
  {
  number: '73',
  text: 'Школы',
  countSpeed: '1500'
  },
  ]


// features
+b('features', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('list', '', 'ul')
      for item in features
        +e('item')
          +e('number')(data-count-speed=item.countSpeed) !{item.number}
          +e('text') !{item.text}
