-
  var steps = [
  'Регистрируйся на сайте',
  'Загрузи свой проект',
  'Пройди модерацию',
  'Твой проект опубликован!',
  ];


// howItWorks
+b('howItWorks', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Как это работает?
    +e('list', '', 'ul')
      for step, index in steps
        +e('item')
          +e('number')= index + 1
          +e('text') !{step}