-
  const mainTiterItems = [
  {
    num: '151',
    text: 'школ по всей России',
  },
  {
    num: '9 525',
    text: 'учеников',
  },
  {
    num: '253',
    text: 'реализованных проекта',
  },
  ]
// main-titer
+b('mainTiter', '', 'section')
  +e('inner')
    +e('heading', '', 'h1') Школа Дела. Капитаны
    +e('dscr')
      p Это образовательная программа в школах по всей России. Студенты университетов и бизнес-эксперты помогают школьникам создавать свои бизнес-проекты.
    +e('items', '', 'ul')
      for i in mainTiterItems
        +e('item')
          +e('itemNum', '', 'div') !{i.num}
          +e('itemText', '', 'div') !{i.text}
