// main-form
+b('mainForm', '', 'section')
  +e('inner')
    +e('heading', '', 'h2') Реализовывайся через практику создания проектов
    +e('dscr')
      p Присоединяйся к Школе Дела и начинай развивать свой собственный проект. Встречи студентов-наставников со школьниками проходят 2 раза в неделю по 3 ак. часа на территории школ.

    +e('tabs')
      +e('tabNav')
        +e('tab', '', 'button')(class="-active") Я учусь в школе
        +e('tab', '', 'button') Я учусь в университете
      +e('tabContents')
        +e('tabCnt'): include tab-school
