// main-about
+b('mainAbout', '', 'section')
  +e('inner')
    +e('main')
      +e('heading', '', 'h2') О Школе Дела
      +e('body')
        p Занятия ведут студенты.
          br
          | Они прошли уникальный курс предпринимательства, проектной работы и наставничества по программе дополнительного образования факультета бизнеса «Капитаны» РЭУ им. Г.В. Плеханова.

      +e('quote'): include aboutQuote

    +e('features'): include aboutFeatures
