-
  const mentors = [
  {
    image: 'anna.jpg',
    name: 'Анна Кострыкина',
    text: 'Бизнес-Тренер. <br>Более 10 лет работает навыковым тренером в сфере бизнес- образования. Провела более 650 тренинг-дней, которые посетили более 9500 человек.',
  },
  {
    image: 'nike.jpg',
    name: 'Никита Рождественский',
    text: '12 лет опыта управления проектами развития бизнеса и бизнес-трансформациями в более чем 12 индустриях в 6 странах с бюджетами проектов до 100 млн. долл/год.',
  },
  {
    image: 'nikola.jpg',
    name: 'Николай Мрочковский',
    text: 'Предприниматель, инвестор, бизнес-консультант, Автор деловых бестселлеров. <br>Степень Executive MBA (Московская Школа Управления «Сколково»)',
  },
  {
    image: 'alex.jpg',
    name: 'Алексей Нечаев',
    text: 'Президент и основатель компании Faberlic',
  },
  {
  image: 'anna.jpg',
  name: 'Анна Кострыкина',
  text: 'Бизнес-Тренер. <br>Более 10 лет работает навыковым тренером в сфере бизнес- образования. Провела более 650 тренинг-дней, которые посетили более 9500 человек.',
  },
  {
  image: 'nike.jpg',
  name: 'Никита Рождественский',
  text: '12 лет опыта управления проектами развития бизнеса и бизнес-трансформациями в более чем 12 индустриях в 6 странах с бюджетами проектов до 100 млн. долл/год.',
  },
  ]

// mentors
+b('mentors', '', 'section')
  +e('inner')
    +e('heading', '', 'h2') Менторы и наставники
    +e('slider')
      +e('slides', '', 'ul')
        for i in mentors
          +e('slide')
            +e('image', '', 'div'): img(src=`./files/mentors/${i.image}` alt="")
            +e('name', '', 'div') !{i.name}
            +e('text', '', 'div') !{i.text}

      +e('arrows')
        +e('arrow', 'prev', 'button'): span.visually-hidden Предыдущий слайд
        +e('arrow', 'next', 'button'): span.visually-hidden Следующий слайд
