-
  var menu = [
  {
  title: 'Главная',
  url: 'index.html'
  },
  {
  title: 'Что это?',
  url: '#about',
  smooth: true
  },
  {
  title: 'Все проекты',
  url: 'all-projects.html'
  },
  {
  title: 'База знаний',
  url: 'knowledge-base.html'
  },
  ];

// menu
+b('menu', '', 'nav')
  +e('list', '', 'ul')
    for i in menu
      +e('item'): +e('link', '', 'a')(href=i.url data-scroll=i.smooth) !{i.title}