// regProject
+b('regProject', { b: 'block' }, 'section')
  .anchor#registration
  +e('inner', { e: 'block' })(class="cntWrp")
    +e('heading', { e: 'block' }, 'h2') Зарегистрировать проект
    +e('dscr', { e: 'block' }, 'p') Проди регистрацию и заполни паспорт проекта
    +e('form')
      include forms/form-reg-project

    //include forms/response/res-reg-form
