-
  const tabSchoolFeatures = [
  {
    title: 'Сообщество',
    text: 'Люди, которые хотят создавать и делиться опытом',
  },
  {
    title: 'Участие в мероприятиях',
    text: 'Приходи на общие мероприятия и отдыхай вместе с нами',
  },
  {
    title: 'Стипендия и трудоустройство',
    text: 'Обучись по программе дополнительного образования и начни зарабатывать создавая свои команды из учащихся школ',
  },
  {
    title: 'Создавай свой проект',
    text: 'Запускай собственный проект и получай консультации от экспертов рынка',
  },
  ]

+b('tabSchool')
  +e('list', '', 'ul')
    for i in tabSchoolFeatures
      +e('item')
        +e('title', '', 'h3') !{i.title}
        +e('text', '', 'p') !{i.text}

  +e('form'): include forms/form-request
