// titer
+b('titer', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h1') Мой проект
    +e('body', { e: 'block' }, 'p') Создай свой проект вместе с опытными наставники и программой Капитаны
    +b('button', { e: '&' }, 'a')(href="#registration" data-scroll) Принять участие

    +e('projects')
      include fake-projects

    +e('bySupport')
      include by-support
