// video
+b('video', '', 'a')(href="https://www.youtube.com/embed/r3Fg5oxYLfI" data-modal=".modal--video" target="_blank")
  +e('img', '', 'img')(src="./files/video-placeholder.png" alt="")
  +e('play')

include modals/modal-video