// allProjectsTiter
+b('allProjectsTiter', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h1') Все проекты
    +e('dscr', { e: 'block' }, 'p') Тут опубликованны все проекты учеников.