-
  var newProjects = [
  {
  icon: '',
  title: 'Велобайк',
  body: '',
  author: ''
  },
  {
  icon: '',
  title: 'Art-line',
  body: '',
  author: ''
  },
  {
  icon: '',
  title: 'Шары в дом',
  body: '',
  author: ''
  },
  {
  icon: '',
  title: 'Art-line',
  body: '',
  author: ''
  },
  {
  icon: '',
  title: 'Шары в дом',
  body: '',
  author: ''
  },
  {
  icon: '',
  title: 'Велобайк',
  body: '',
  author: ''
  },
  {
  icon: '',
  title: 'Art-line',
  body: '',
  author: ''
  },
  ]


// newProjects
+b('newProjects', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Новые проекты
    +e('list')
      for item in newProjects
        +e('item')
          +e('card', '', 'div')
            +e('icon', '', 'img')(src="./files/icon.svg" alt="")
            +e('title', '', 'h3'): a(href="project.html") !{item.title}
            +e('body', '', 'p') Вместе с командой мы создали удобный продукт для всех и вся. Продали за первый месяц 100500 штук!
            +e('author', '', 'div') Аркадий Новиков, 11 класс



