// problemSolution
+b('problemSolution', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('item', 'problem')
      +e('title', '', 'h3') «Проблема»
      +e('body') Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют определения и уточнения существенных финансовых и административных условий. Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании форм развития.

    +e('item', 'solution')
      +e('title', '', 'h3') «Решение»
      +e('body') Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют определения и уточнения существенных финансовых и административных условий. Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
