// projects
+b('projects', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Проекты
    +e('dscr', { e: 'block' }, 'p') Проекты, созданные учениками в рамках программы
    include project-list
    +b('button', { e: '&' }, 'a')(href="all-projects.html") Посмотреть все проекты

