// projectTiter
+b('projectTiter', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('type') Социо-культурный
    +e('heading', { e: 'block' }, 'h1') Велотакси
    +e('body', { e: 'block' }, 'p') Вид общественного транспорта: перевозка пассажира или пассажиров (обычно не больше двух) на велосипеде особой конструкции силой велосипедиста.
    +e('pm')
      +e('label', '', 'span') Руководитель проекта:
      +e('value', '', 'span') Сергей Созинов, 10А, шк. 1193
      
    +e('img')
      include ../../../images/blob-shape.svg
    //+e('img'): canvas(width="621" height="588"): img(src="https://placehold.it/1000x1000" alt="")

