// projectTeam
+b('projectTeam', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Команда проекта
    +e('dscr', { e: 'block' }, 'p') Профессиональные роли и позиции участников.

    +e('list', '', 'ul')
      for i, index in Array(5)
        +e('item')
          +e('photo', '', 'div'): img(src="./files/team/team-0"+(index + 1)+".png" alt="")
          +e('name', '', 'div') Иванов Иван Иванович
          +e('role', '', 'div') Роль в проекте

    +e('subHeader', '', 'h3') Трекер
    +e('list', '', 'ul')
      +e('item')
        +e('photo', '', 'div')
          //img(src="./files/team/tracker.png" alt="")
          include ../../../files/team/team-02.svg
        +e('name', '', 'div') Иванов Иван Иванович
