// projectAbout
+b('projectAbout', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') О проекте

    +e('content')
      +e('img'): img(src="./files/about-project.jpg" alt="")
      +e('text')
        +e('body') Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют определения и уточнения существенных финансовых и административных условий. Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Задача организации, в особенности же консультация с широким активом требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Товарищи! укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Товарищи!
        +b('button', { e: '&', m: 'empty' }, 'a')(href="#0" target="_blank") Презентация проекта.pdf
