// projectNews
+b('projectNews', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Новости проекта

    +e('slider')
      +e('list', '', 'ul')
        for news in Array(6)
          +e('item')
            +e('card', '', 'a')(href="#0")
              +e('date', '', 'date')(datetime="2019-01-26") 26.01.19
              +e('title', '', 'h3') Новость проекта Велобайк
      +e('arrows')
        +e('arrow', 'prev', 'button') Назад
        +e('arrow', 'next', 'button') Вперед
