-
  var projects = [
  {
  type: 'It проект ',
  modifier: 'it',
  },
  {
  type: 'Профориентационный',
  modifier: 'prof',
  },
  {
  type: 'Социальный',
  modifier: 'social',
  },
  {
  type: 'Социо-культурный',
  modifier: 'culture',
  },
  {
  type: 'Научно-технический',
  modifier: 'tech',
  },
  {
  type: 'Управленческий',
  modifier: 'management',
  },
  {
  type: 'It проект ',
  modifier: 'it',
  },
  {
  type: 'Профориентационный',
  modifier: 'prof',
  },
  {
  type: 'Социальный',
  modifier: 'social',
  },
  ];

+e('list', '', 'ul')
  for item in projects
    +e('item', {m: item.modifier})
      +e('link')(href="project.html")
        +e('type', '', 'div')= item.type
        +e('title', '', 'h3') Велобайк
        +e('author', '', 'div') Аркадий Новиков, 11 класс