-
  var types = [
  {
  type: 'It проект ',
  typeId: 'it',
  value: '1',
  title: '',
  author: '',
  },
  {
  type: 'Профориентационный',
  typeId: 'prof',
  value: '4',
  title: '',
  author: '',
  },
  {
  type: 'Социальный',
  typeId: 'social',
  value: '5',
  title: '',
  author: '',
  },
  {
  type: 'Социо-культурный',
  typeId: 'culture',
  value: '6',
  title: '',
  author: '',
  },
  {
  type: 'Научно-технический',
  typeId: 'tech',
  value: '7',
  title: '',
  author: '',
  },
  {
  type: 'Управленческий',
  typeId: 'management',
  value: '8',
  title: '',
  author: '',
  },
  ];

// projectsFilter
+b('projectsFilter', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('item', 'categories')
      for item in types
        +e('category', '', 'label')
          +e('checkbox', '', 'input')(type="checkbox" value=item.value)
          +e('label', {m: item.typeId})= item.type

    +e('item', 'search')
      +e('search', '', 'input')(type="text" placeholder="Введите название проекта")
