// projectButtons
+b('projectButtons', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +b('button', { e: '&' }, 'a')(href="all-projects.html") Все проекты
    +b('button', { e: '&', m: 'empty' }, 'a')(href="#top" data-scroll) Вернуться к началу страницы
