extend ../layout/layout.pug

block vars
  - var body_classes = ['page--notFront', 'page--allProjects'];
  - var title = 'Все проекты'

block content
  include ../components/project/all-projects-titer
  include ../components/project/projects-filter
  include ../components/project/projects@in-list
  include ../components/reg-project

