extend ../layout/layout.pug

block vars
  - var body_classes = ['page--front'];
  - var title = 'Главная'

block content
  include ../components/titer
  include ../components/about
  include ../components/features
  include ../components/project/new-projects
  include ../components/project/projects
  include ../components/how-it-works
  include ../components/reg-project


