extend ../layout/layout.pug

block vars
  - var body_classes = ['page--notFront', 'page--allProjects'];
  - var title = 'Все проекты'

block content
  include ../components/knowledge-base/knowledge-base-titer
  include ../components/knowledge-base/i-create
  include ../components/knowledge-base/how-to-list
  include ../components/modals/modal-video@whitout-url

