extend ../layout/layout.pug

block vars
  - var body_classes = ['page--front'];
  - var title = 'Главная (новый блок)'

block content
  include ../components/main-titer
  include ../components/main-about
  include ../components/mentors
  include ../components/cities
  include ../components/main-form
  include ../components/project/projects


