extend ../layout/layout.pug

block vars
  - var body_classes = ['page--notFront', 'page--project'];
  - var title = 'Проект'

block content
  include ../components/project/project-titer
  include ../components/project/project-about
  include ../components/project/problem-solution
  include ../components/project/sheme
  include ../components/project/project-news
  include ../components/project/project-goals
  include ../components/project/project-team
  include ../components/project/project-buttons

