// modalVideo
+b('modal', 'video')
  +e('bg')
  +e('inner')
    +e('content')
      +e('wrapper')
        +e('video', '', 'iframe')( width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        +e('close', 'video', 'button') ×