// modal regTracker
+b('modal', 'regTracker')
  +e('bg')
  +e('inner')
    +e('content')(class="cntWrp")
      +e('title', '', 'h2') Регистрация трекера
      +e('form')
        include ../forms/form-reg-tracker
      +e('close', '', 'button') ×

      //include ../forms/response/res-tracker-form