// form-request
+b('form', 'request', 'form')(data-ajax-form)

  +e('main')
    +e('item', '', 'label')
      +e('label', 'hidden') Имя и фамилия
      +e('field', '', 'input')(name="name" type="text" placeholder="ФИО*" required)

    +e('item', '', 'label')
      +e('label', 'hidden') Телефон
      +e('field', '', 'input')(name="phone" type="tel" placeholder="Телефон*" required)

    +e('item', '', 'label')
      +e('label', 'hidden') Город
      +e('field', '', 'input')(name="city" type="text" placeholder="Город")

    +e('item', '', 'label')
      +e('label', 'hidden') Номер школы
      +e('field', '', 'input')(name="school" type="text" placeholder="Номер школы")

    +e('item', '', 'label')
      +e('label', 'hidden') Электронная почта
      +e('field', '', 'input')(name="email" type="email" placeholder="Электронная почта")

    +e('item', '', 'label')
      +e('label', 'hidden') Класс
      +e('field', '', 'input')(name="grade" type="text" placeholder="Класс: 10 Б")

    +e('item', 'agreement', 'label')
      +e('checkbox', '', 'input')(type="checkbox" required)
      +e('label') Нажимая на кнопку  «Отправить заявку»  вы соглашаетесь с#{' '}
        a(href="#0" target="_blank") политикой конфиденциальности

    +e('item', 'button')
      +b('button', { e: '&', m: 'alt' }, 'button')(type="submit") Отправить заявку

  +e('item', 'steps', 'ol')
    +e('step') Связываемся с тобой по телефону
    +e('step') Знакомим с наставникаом и начинаем занятия


