// formRegProject
+b('form', 'regProject.inline', 'form')(data-ajax-form data-role="project_leader")

  +e('main')
    +e('item', '', 'label')
      +e('label', 'hidden')(visually) Имя и фамилия
      +e('field', '', 'input')(type="text" placeholder="Имя и Фамилия" required)

    +e('item', '', 'label')
      +e('label', 'hidden') Ваша почта
      +e('field', '', 'input')(type="email" placeholder="Ваша почта" required)

    +e('item', 'button')
      +b('button', { e: '&', m: 'white' }, 'button')(type="submit") Зарегестрироваться

  +e('item', 'agreement', 'label')
    +e('checkbox', '', 'input')(type="checkbox" required)
    +e('label') Нажимая на кнопку  «Зарегестрироваться»  вы соглашаетесь с#{' '}
      a(href="#0" target="_blank") политикой конфиденциальности

