.aboutQuote {
  display: flex;
  align-items: flex-start;
}

.aboutQuote__person {
  width: 156px;
  margin-top: 12px;
  margin-left: -8px;
  margin-right: 21px;
  flex-shrink: 0;
}

.aboutQuote__image {
  border-radius: 50%;
  height: 156px;
  box-sizing: border-box;
  box-shadow: $shadow-person;
  border: 8px solid #ffffff;
  background-color: #ffffff;
  margin-bottom: 16px;
  overflow: hidden;
}

.aboutQuote__name {
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.015625em;
  line-height: 1.3;
}

.aboutQuote__text {
  background-color: #fff;
  padding: 24px 38px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  box-shadow: $shadow-person-text;
  border-radius: 30px;
  position: relative;
  flex-grow: 1;
  max-width: 400px;
  min-height: 200px;

  &::before {
    content: '';
    position: absolute;
    top: 36px;
    right: 100%;
    border: 14px solid transparent;
    border-right-color: #fff;
  }
}

