.aboutFeatures {
  @include list-reset;
  width: 460px;
  box-shadow: $shadow-person-features;
  border-radius: 8px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 64px 43px 50px;
}

.aboutFeatures__item {
  position: relative;
  padding-left: 47px;

  &:nth-child(n + 2) {
    margin-top: 24px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    font-size: 10px;
    width: 2.7em;
    height: 2.7em;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.aboutFeatures__title {
  color: $color-text;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
}

.aboutFeatures__body {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375;
}

