.about {
  padding-bottom: 40px;
}

.about__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include media(msl) {
    display: block;
  }
}

.about__main {
  margin-top: 70px;
}

.about__heading {
  @include title-line;
  margin-bottom: 40px;

  @include media(mtl) {
    margin-bottom: 30px;
  }

  @include media(mtp) {
    margin-bottom: 20px;
  }
}

.about__body {
  color: $color-text;
  font-size: 26px;
  line-height: 1.231;
  max-width: 16.8em;

  @include media(mtp) {
    font-size: 22px;
  }

  @include media(msp) {
    font-size: 20px;
  }
}

.about__video {
  flex-shrink: 0;
  margin-top: -40px;
  margin-right: -70px;

  @include media(mtl) {
    width: 60vw;
    margin-right: -40px;
  }

  @include media(mtp) {
    width: 55vw;
  }

  @include media(msl) {
    width: 400px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media(msp) {
    max-width: 300px;
  }
}
