.allProjectsTiter {
  padding-top: 115px;
  margin-bottom: 35px;

  @include media(mtp) {
    padding-top: 70px;
  }
}

.allProjectsTiter__inner {}

.allProjectsTiter__heading {
  @include title-line;
  color: #000;
}

.allProjectsTiter__dscr {
  color: #000;
  font-size: 26px;
  line-height: 1.23;

  @include media(msl) {
    font-size: 22px;
  }
}
