.button {
  display: inline-block;
  appearance: none;
  line-height: 1;
  border-width: 0;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 1em 3.3em;
  box-sizing: border-box;
  transition-duration: 0.2s;
  cursor: pointer;
  //background-image: $gradient-button;
  //background-image: $gradient-button-unusial;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @include media(msl) {
    font-size: 14px;
  }

  &:hover {
    //opacity: 0.7;
    //background-image: $gradient-button-unusial;
    &::before {
      transform: translate(-50%, -50%) rotate(180deg) ;
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    padding-bottom: 110%;
    background-image: $gradient-button;
    transition-duration: 0.5s;
  }
}

.button--unusial {
  background-image: $gradient-button-unusial;
}

.button--empty {
  border: 1px solid $color-button-empty;
  background-image: none;
  color: $color-button-empty;
  font-weight: 700;

  &:hover {
    border-color: transparent;
    //background-image: $gradient-button-unusial;
    color: #fff;
    &::before {
      opacity: 1;
    }
  }

  &::before {
    opacity: 0;
  }
}

.button--white {
  background-color: #fff;
  color: #464646;
  background-image: none;

  &:hover {
    color: #464646;
    //background-image: linear-gradient(225deg, #b8b1f8 0%, #f9d4ff 100%);

    &::before {
      opacity: 1;
    }
  }

  &::before {
    opacity: 0;
    background-image: linear-gradient(225deg, #b8b1f8 0%, #f9d4ff 100%);
  }
}

.button--popup {
  width: 100%;
  max-width: unset;
  padding: 0.83em 1.7em;
  font-size: 17px;
  background-color: #6979f8;
  transition-duration: 0.2s;
  background-image: none;

  &:hover {
    opacity: 0.8;
    background-image: none;
  }
}

.button--alt {
  background-image: $gradient-button-alt;
  border-radius: 4px;

  &::before {
    background-image: $gradient-button-alt;
  }
}
