.bySupport {}

.bySupport__text {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}

.bySupport__logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bySupport__logo {
  width: auto;
  margin-right: 35px;
  max-width: 200px;

  @include media(msl) {
    max-width: 150px;
  }

  @include media(msp) {
    max-width: 30vw;
    margin-right: 25px;

    &:nth-child(1) {
      max-width: 18vw;
    }

    &:nth-child(1) {
      max-width: 18vw;
    }
  }

  &:nth-child(3) {
    margin-right: 0;
  }
}
