.cities {
  margin-top: 100px;
  margin-bottom: 170px;
  position: relative;
}

.cities__inner {
  @include grid;
}

.cities__heading {
  @include title-line {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
  }
  display: block;
  text-align: center;
  margin-bottom: 85px;
}

.cities__row {
  display: flex;
}

.cities__main {
  width: 48%;
}

.cities__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.cities__item {
  width: 50%;
  margin-bottom: 31px;
  color: $color-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  transition-duration: 0.3s;
  cursor: pointer;
  position: relative;

  &:hover {
    color: $color-style-alt;
  }

  &:first-child,
  &--active {
    font-weight: 700;
    color: $color-style-alt;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &::before {
    content: '';
    position: absolute;
    font-size: 10px;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: $color-style-alt;
    top: 5px;
    left: -19px;
    transition-duration: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
}

.cities__num {
  margin-top: 15px;
  display: flex;
  color: #e8e1da;
  font-weight: 700;
  line-height: 1;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(-42deg, #c4b7b2 0%, #e8e1da 100%);
}

.cities__numBig {
  font-size: 100px;
  white-space: nowrap;
  margin-right: 50px;
}

.cities__numText {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.05;
}

.cities__map {
  position: absolute;
  top: 0;
  right: 0;
  //width: 40%;
  width: 728px;
  height: 908px;
  background-image: url(../images/map-placeholder.png);
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position: 53px calc(100% + 21px);
}
