.fakeProjects {
  position: relative;
  width: 700px;
}

.fakeProjects__img {
  position: absolute;
  width: auto;
  animation-name: fly-1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.fakeProjects__img--wood-beetle {
  top: 0;
  right: 156px;
  //animation-duration: 9s;
}

.fakeProjects__img--animation-school {
  top: 120px;
  right: 126px;
  //animation-duration: 6s;
  animation-name: fly-3;
}

.fakeProjects__img--art-line {
  top: 141px;
  right: 357px;
  //animation-duration: 9s;
  //animation-delay: 2s;
}

.fakeProjects__img--new-wave {
  top: 200px;
  right: -83px;
  //animation-duration: 9s;
  //animation-delay: 1s;
  animation-name: fly-2;
}

.fakeProjects__img--balloons-in-house {
  top: 300px;
  right: 327px;
  //animation-duration: 6s;
  //animation-delay: 2s;
  animation-name: fly-3;
}

.fakeProjects__img--balloons-in-house-2 {
  top: 339px;
  right: 179px;
  //animation-duration: 9s;
  //animation-delay: 3s;
}

.fakeProjects__img--find-yourself {
  top: 420px;
  right: 78px;
  //animation-duration: 9s;
  animation-name: fly-2;
}

.fakeProjects__img--museum {
  top: 362px;
  right: -131px;
  //animation-duration: 9s;
}