.features {
  text-align: center;
}

.features__inner {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 55px 120px 55px;

  @include media(mtl) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include media(mtp) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media(msl) {
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 30px;
  }
}

.features__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media(msp) {
    display: block;
  }
}

.features__item {
  @include media(msp) {
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.features__number {
  display: block;
  color: $color-big-numbers;
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  min-width: 115px;

  @include media(msl-only) {
    font-size: 50px;
  }
}

.features__text {
  display: block;
  color: $color-title;
  font-size: 24px;
  font-weight: 700;

  @include media(msl-only) {
    font-size: 18px;
  }
}

