.form {

  @include media(msl) {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  &--inline {
    .form__main {
      display: flex;
      justify-content: space-between;

      @include media(msl) {
        display: block;

      }
    }

    .form__item {
      margin-right: 20px;
      flex-grow: 1;
      margin-bottom: 0;

      @include media(msl) {
        margin-bottom: 5px;
        margin-right: 0;
      }

      &--agreement {
        margin-top: 12px;

        @include media(msl) {
          margin-top: 25px;
        }
      }

      &--button {
        margin-right: 0;
        flex-grow: 0;
        flex-shrink: 0;

        @include media(msl) {
          text-align: center;
        }
      }
    }

    .form__button {
      margin-top: 0;
    }
  }

  &--regProject {

    .form__label {
      color: inherit;
    }

    .form__field {
      color: #fff;

      &::placeholder {
        color: #fff;
      }
    }
  }

  &--regProject {
    .form__button {
      padding: 17px 45px;
    }
  }

  &--request {
    .form__main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .form__item {
      width: calc(50% - 15px);
      margin-bottom: 20px;

      &--button {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
      }

      &--steps {
        width: 100%;
        margin-bottom: 0;
      }

      &--agreement {
        width: 100%;
      }
    }

    .form__field {
      font-size: 15px;
      border-radius: 6px;
      background-color: #fafafb;
      padding: 15.5px 20px;

      &::placeholder {
        font-weight: 300;
      }
    }

    .form__button {
      margin-top: 20px;
    }

    .form__checkbox {
      &+.form__label::before {
        background-color: #fafafb;
      }
    }

  }
}

.form__main {}

.form__item {
  display: block;
  margin-bottom: 17px;

  &--agreement {

    @include media(msl) {
      font-size: 12px;
      line-height: 1.2;
    }

    a {
      color: $color-link;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--popup {
    text-align: center;
    line-height: 1;
    margin-top: 30px;

    .form__label {
      font-size: 12px;
    }
  }

  &--steps {
    @include list-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
}


.form__label {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;

  &--hidden {
    @include visually-hidden;
  }
}

.form__field {
  display: block;
  width: 100%;
  border: none;
  background-color: rgba(#fff, 0.25);
  border-radius: 4px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 17px 20px;
  font-weight: 700;

  &::placeholder {
    color: #d0c9d6;
    font-weight: 400;
  }

  &--onWhite {
    border-radius: 6px;
    box-shadow: $shadow;
  }
}

.form__checkbox {
  @include visually-hidden;

  &+.form__label {
    display: block;
    position: relative;
    padding-left: 30px;
  }

  &:checked+.form__label::after {
    border-width: 3.5px;
  }

  &+.form__label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 4px;
    background-color: rgba(#fff, 0.25);
  }

  &+.form__label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #9655c9;
    background-clip: padding-box;
    box-sizing: border-box;
    border: 8.5px solid transparent;
    transition-duration: 0.2s;
  }
}

.form__button {
  margin-top: 25px;

  @include media(msl) {
    width: 100%;
  }
}

.form__error {
  text-align: center;
  //color: #d92626;
  font-weight: 400;
  margin-top: 20px;
  //text-shadow: 0 0 2px #fff;

  strong {
    font-weight: 700;
    border-bottom: 1px solid red;
  }
}

.form__step {
  text-align: center;
  color: #5a5a5a;
  font-size: 12px;
  line-height: 1.25;
  position: relative;
  width: 140px;
  margin-right: 48px;

  &:last-child {
    margin-right: 0;

    &::after {
      content: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: -35px;
    top: 7px;
    width: 26px;
    height: 1px;
    background-color: #e6e6e6;
  }
}
