.howItWorks {
  text-align: center;
  padding-bottom: 75px;

  @include media(msl) {
    padding-bottom: 40px;
  }
}

.howItWorks__inner {}

.howItWorks__heading {
  margin-bottom: 65px;
}

.howItWorks__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
}

.howItWorks__item {
  width: 25%;
  padding: 0 40px;
  box-sizing: border-box;

  @include media(msl) {
    width: 50%;
    margin-bottom: 50px;
  }

  @include media(msp) {
    width: 100%;
  }

  &:nth-child(4n - 3) .howItWorks__number::before {
    background-image: url(../images/steps/shape-one.svg);
  }

  &:nth-child(4n - 2) .howItWorks__number {
    &::before {
      background-image: url(../images/steps/shape-two.svg);
    }

    &::after {
      @include media(msl-only) {
        content: none;
      }
    }
  }

  &:nth-child(4n - 1) .howItWorks__number::before {
    background-image: url(../images/steps/shape-three.svg);
    left: calc(50% - 10px);

    @include media(mtp) {
      left: 50%;
    }
  }

  &:nth-child(4n) .howItWorks__number {
    &::before {
      background-image: url(../images/steps/shape-four.svg);
      left: calc(50% - 10px);

      @include media(mtp) {
        left: 50%;
      }
    }

    &::after {
      content: none;
    }
  }

  &:last-child::after {
    content: none;
  }

  &::after {
    display: block;
    background-image: linear-gradient(to bottom, #fe985b 0%, #fe4fa7 100%);
    width: 2px;
    height: 38px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    @include media(msp) {
      content: '';
    }
  }
}

.howItWorks__number {
  display: block;
  font-size: 105px;
  font-weight: 800;
  line-height: 1;
  color: $color-big-numbers;
  position: relative;
  margin-bottom: 25px;

  @include media(mtp) {
    font-size: 75px;
  }

  &::before {
    content:'';
    width: 196px;
    height: 215px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-image: url(../images/steps/shape-one.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include media(mtp) {
      width: 155px;
      height: 170px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 45px;
    left: calc(50% + 70%);
    transform: translateX(-50%);
    width: 38px;
    height: 2px;
    background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);

    @include media(msp) {
      content: none;
    }
  }

}

.howItWorks__text {
  color: #000000;
  font-size: 22px;
  line-height: 1.364;
  font-weight: 700;

  @include media(mtp) {
    font-size: 18px;
  }
}
