.howToList {
  text-align: center;
  margin-bottom: 100px;

  @include media(msl) {
    margin-bottom: 60px;
  }
}

.howToList__inner {}

.howToList__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px 30px;

  @include media(msp) {
    margin-right: auto;
    margin-left: auto;
  }
}

.howToList__item {
  margin: 0 5px 10px;
  background-color: #fff;
  box-shadow: $shadow;
  padding: 40px 30px 30px;
  box-sizing: border-box;
  width: calc(33.333% - 10px);

  @include media(mtp) {
    padding: 30px 20px 20px;
  }

  @include media(msl) {
    width: calc(50% - 10px);
  }

  @include media(msp) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.howToList__icon {
  width: 50px;
  margin-bottom: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.howToList__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;

  &::before {
    content: '';
    display: block;
    width: 58px;
    height: 2px;
    background-color: #f54c30;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}

.howToList__button {

  &--inCard {
    font-size: 14px;
    padding: 0.9em 3.7em;
  }
}

