.iCreate {
  margin-bottom: 40px;
}

.iCreate__inner {}

.iCreate__row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;

  @include media(msp) {
    display: block;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.iCreate__img {
  flex-shrink: 0;
  max-width: 80px;
  margin-right: 30px;

  @include media(msp) {
    margin-bottom: 20px;
  }
}

.iCreate__blob {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: $shadow;
  border-radius: 30px;
  padding: 20px 30px 20px;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  line-height: 1.23;
  max-width: 27em;

  @include media(mtl) {
    font-size: 20px;
  }

  @include media(msl) {
    font-size: 16px;
    border-radius: 20px;
    padding: 25px;
  }

  &--user {
    font-weight: 400;
  }

  &--answer {
    padding-bottom: 15px;
  }
}

.iCreate__answer {
  display: flex;
  align-items: flex-end;

  @include media(msp) {
    display: block;
  }

  &[hidden] {
    display: none;
  }
}

.iCreate__text {}

.iCreate__caption {
  margin-top: 20px;
  line-height: 1;
  color: #414141;
  font-size: 14px;
  text-align: right;
}


