.knowledgeBaseTiter {
  padding-top: 115px;
  margin-bottom: 35px;

  @include media(mtp) {
    padding-top: 70px;
  }
}

.knowledgeBaseTiter__inner {}

.knowledgeBaseTiter__heading {
  @include title-line;
  color: #000;

  @include media(msp) {
    font-size: 42px;
  }
}

.knowledgeBaseTiter__dscr {
  color: #000;
  font-size: 26px;
  line-height: 1.23;
  max-width: 23em;

  @include media(msl) {
    font-size: 22px;
  }
}
