.loginButtons {
  display: flex;

  @include media(mtp) {
    flex-direction: column;
    align-items: center;
  }
}

.loginButtons__button {
  margin-right: 20px;
  font-size: 14px;
  padding: 12px 25px;

  @include media(mtp) {
    margin-right: 0;
    font-size: 16px;
    font-weight: 700;
  }

  &:last-child {
    margin-right: 0;

    @include media(mtp) {
      order: -1;
      margin-bottom: 10px;
    }
  }
}
