.mainForm {
  margin-bottom: 45px;
}

.mainForm__inner {
  @include grid;
}

.mainForm__heading {
  @include title-line {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }
  display: block;
  max-width: 16em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 17px;
  text-align: center;
}

.mainForm__dscr {
  color: #5a5a5a;
  font-size: 20px;
  margin-bottom: 53px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 35em;
}

.mainForm__tabs {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
}

.mainForm__tabNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.mainForm__tab {
  @include btn-reset;
  width: 50%;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 400;
  border: 2px solid #dfdfff;
  padding: 16.5px 20px;
  line-height: 1;
  outline: none;
  transition-duration: 0.3s;

  &:hover {
    background-color: lighten($color-tab, 48%);
  }

  &:first-child {
    border-radius: 5px 0 0 5px;
  }

  &:last-child {
    border-radius: 0 5px 5px 0;
  }

  &.-active {
    background-color: $color-tab;
    border-color: $color-tab;
    color: #fff;
  }
}

.mainForm__tabContents {}

.mainForm__tabCnt {}

