.mainTiter {
  padding-top: 186px;
  padding-bottom: 167px;
  text-align: center;
  background-image: url(../images/titer-bg.jpg), radial-gradient(circle 889px at 47.48% 125.45%, #5b7585 0%, #403755 100%);
  background-color: #5b7585;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center calc(100% + 1px);
  color: #fff;
}

.mainTiter__inner {}

.mainTiter__heading {
  @include title-line {
    margin-top: 9px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  color: inherit;
  margin-bottom: 24px;
  font-size: 54px;
  font-weight: 800;
}

.mainTiter__dscr {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  max-width: 34em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
}

.mainTiter__items {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.mainTiter__item {
  width: 21.5%;
}

.mainTiter__itemNum {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: -2px;
}

.mainTiter__itemText {
  font-size: 24px;
  line-height: 1.3;
}

