.mainAbout {
  padding-top: 97px;
  padding-bottom: 82px;
}

.mainAbout__inner {
  @include grid;
  display: flex;
}

.mainAbout__main {
  width: 50%;
  margin-right: 80px;
}

.mainAbout__heading {
  @include title-line;
  margin-bottom: 24px;
}

.mainAbout__body {
  font-size: 20px;
  font-weight: 300;
  max-width: 22em;
  line-height: 1.49;
}

.mainAbout__quote {
  margin-top: 88px;
}

.mainAbout__features {
  width: 460px;
}

