.mentors {
  text-align: center;
}

.mentors__inner {
  @include grid;
}

.mentors__heading {
  @include title-line {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
  }
  margin-bottom: 40px;
}

.mentors__slider {
}

.mentors__slides {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.mentors__slide {
  //lost-column: 1/3 3 30px;
  width: 33.333%;
  box-sizing: border-box;
  padding: 0 40px;

  &:nth-child(n + 4) {
    display: none;
  }
}

.mentors__image {
  margin-bottom: 19px;
  width: 156px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  box-shadow: $shadow-person;
}

.mentors__name {
  margin-bottom: 5px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.015909em;
  line-height: 1.2727;
}

.mentors__text {
  color: $color-text-card;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.01625em;
  line-height: 1.375;
}

.mentors__arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.mentors__arrow {
  @include btn-reset;
  font-size: 10px;
  width: 4em;
  height: 4em;
  box-shadow: $shadow-arrow;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin: 0 15px;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: $shadow-arrow-hover;
  }

  &::after {
    content: '';
    position: absolute;
    width: 1.9em;
    height: 1.9em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &--prev {
    &::after {
      transform: translate(-50%, -50%) rotate(-180deg);
    }
  }
}

