.menu {
  @include list-reset;
  display: flex;

  @include media(mtl) {
    display: block;
    font-size: 22px;
  }

  @include media(msl) {
    font-size: 16px;
  }
}

.menu__list {
  @include list-reset;
  display: flex;

  @include media(mtp) {
    display: block;
  }
}

.menu__item {
  margin-right: 50px;

  @include media(mtp) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  @include link-hover;
  text-decoration: none;
  padding: 2px 0;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  transition-duration: 0.2s;
  color: #000;

  @include media(mtp) {
    font-size: 24px;
    font-weight: 700;
  }

  //&:hover {
  //  color: $color-button-empty;
  //}
}

