.mobMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  //background-color: #fff;
  text-align: center;
  overflow-y: auto;
  transition-duration: 0.4s;
  margin-top: 80px;

  opacity: 0;
  visibility: hidden;
  
  &--opened {
    opacity: 1;
    visibility: visible;
  }
}

.mobMenu__inner {
  margin-top: 50px;
  padding-bottom: 30px;
  position: relative;
  z-index: 99;
  pointer-events: auto;
}

.mobMenu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  position: relative;
  border: none;
  color: $color-button-empty;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  background-image: none;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 11px rgba(68, 92, 170, 0.29);

  @media (min-width: 980px) {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
    transition-duration: 0.5s;
  }

  &--opened {
    box-shadow: none;

    &::after {
      width: 350vh;
      height: 350vh;
    }
  }
}

.mobMenu__menu {
  &::after {
    content: '';
    display: block;
    margin: 35px auto 35px;
    width: 98px;
    height: 2px;
    background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
  }
}

.mobMenu__buttons {}


