.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition-duration: 0.3s;
  overflow-y: auto;


  opacity: 0;
  visibility: hidden;
  display: none;

  &--video {

    .modal__inner {
      @include media(msp) {
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .modal__content {
      max-width: 100%;

      @include media(msp) {
        min-height: unset;
      }
    }

    .modal__wrapper {
      padding-bottom: 56.25%;
      padding-top: 25px;
      width: 560px;
      max-width: 100%;
      height: 0;
    }
  }

  &--opened {
    opacity: 1;
    visibility: visible;
    display: flex;
  }

  &--regTracker {
    .modal__content {
      max-width: 420px;
    }

    .modal__title,
    .modal__dscr {
      text-align: center;
    }

    .modal__dscr {
      &::after {
        content: url(../images/like.svg);
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 40px;
      }
    }

    .modal__button {
      padding: 1em 2em;
      width: 100%;
    }
  }
}

.modal__inner {
  @include grid;
  width: 100%;
  margin: auto;
  padding: 30px 0;
  //position: relative;
  //top: 50%;
  //transform: translateY(-50%);
  pointer-events: none;

  @include media(msp) {
    padding: 0;
    margin: 0;
  }
}

.modal__content {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: auto;

  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 45px 80px 60px;

  @include media(msp) {
    min-height: 100%;
    border-radius: 0;
    padding: 55px 30px 50px;
  }
}

.modal__title {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.modal__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#fff, 0.8);
  pointer-events: auto;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  background-image: url(../images/closer.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  line-height: 1;
  font-size: 0;
  cursor: pointer;
  transition-duration: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &--video {
    top: -40px;
    right: 0;
    background-image: url(../images/close.svg);
    width: 25px;
    height: 25px;
    transition-duration: 0.2s;
    opacity: 0.8;

    &:hover {
      transform: rotate(90deg);
      opacity: 1;
      cursor: pointer;
    }
  }
}

.modal__video {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

