.newProjects {
  padding-top: 75px;
  padding-bottom: 40px;
  text-align: center;

  @include media(msl) {
    display: none;
  }
}

.newProjects__inner {}

.newProjects__heading {
  @include title-line {
    width: 58px;
  }

  margin-bottom: 25px;
}

.newProjects__list {
  display: flex;
  //flex-wrap: wrap;
}

.newProjects__item {
  //lost-column: 1/3 3 80px;
  padding: 35px 35px;

  @include media(mtl) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include media(mtp) {
    padding-left: 35px;
    padding-right: 35px;
  }

  &:not(.tns-slide-active) {
    opacity: 0;
  }
}

.newProjects__card {
  box-shadow: $shadow;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  padding: 60px 20px 40px;
  box-sizing: border-box;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 3;

  &--new {
    animation-name: pulse;
  }
}

.newProjects__icon {
  max-height: 100px;
  width: auto;
  margin: 0 auto 45px;
}

.newProjects__title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.35px;
  margin-bottom: 5px;

  a {
    @include link-hover;
    color: inherit;
    text-decoration: none;
  }
}

.newProjects__body {
  color: $color-text-card;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.0625em;
  margin-bottom: 20px;
}

.newProjects__author {
  color: $color-title;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: -0.0625em;
}
