.problemSolution {
  margin-bottom: 80px;
}

.problemSolution__inner {
  display: flex;
  justify-content: space-between;

  @include media(msl) {
    display: block;
  }
}

.problemSolution__item {
  &::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include media(msl) {
      margin-left: 0;
    }
  }

  &--problem {
    margin-right: 70px;

    @include media(msl) {
      margin-right: 0;
      margin-bottom: 70px;
    }

    &::before {
      background-image: url(../images/warning.svg);
    }
  }

  &--solution::before {
    background-image: url(../images/idea.svg);
  }
}

.problemSolution__title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;

  @include media(msl) {
    font-size: 26px;
  }
}

.problemSolution__body {
  opacity: 0.9;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
}

