.projects {
  padding-top: 35px;
  margin-bottom: 100px;
  text-align: center;

  @include media(msl) {
    padding-top: 50px;
  }

  &--all {
    padding-top: 0;

  }
}

.projects__inner {
}

.projects__heading {
  @include title-line;
  margin-bottom: 17px;

  @include media(mtp) {
    margin-bottom: 10px;
  }
}

.projects__dscr {
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 35px;

  @include media(mtp) {
    font-size: 22px;
  }

  @include media(msl) {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.projects__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  &--loader {
    animation-name: list-loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.projects__item {
  lost-column: 1/3 3 10px;
  margin-bottom: 10px;
  box-shadow: $shadow;
  overflow: hidden;
  color: #000;
  text-decoration: none;
  background-color: #fff;



  @include media(msl) {
    lost-column: 1/2 2 10px;

    &:last-child {
      display: none;
    }
  }

  @include media(msp) {
    lost-column: 1/1 1 0;
  }


  &--it {
    .projects__type::after {
      background-image: $gradient-project-it;
      background-color: #d4d97a;
    }
    .projects__link::before {
      background-image: $gradient-project-it;
    }
  }

  &--social {
    .projects__type::after {
      background-image: $gradient-project-social;
      background-color: #73c8a9;
    }
    .projects__link::before {
      background-image: $gradient-project-social;
    }
  }

  &--culture {
    .projects__type::after {
      background-image: $gradient-project-culture;
      background-color: #3d5975;
    }
    .projects__link::before {
      background-image: $gradient-project-culture;
    }
  }

  &--tech {
    .projects__type::after {
      background-image: $gradient-project-tech;
      background-color: #a49871;
    }
    .projects__link::before {
      background-image: $gradient-project-tech;
    }
  }

  &--management {
    .projects__type::after {
      background-image: $gradient-project-management;
      background-color: #e65c00;
    }
    .projects__link::before {
      background-image: $gradient-project-management;
    }
  }

  &--prof {
    .projects__type::after {
      background-image: $gradient-project-prof;
      background-color: #f85032;
    }
    .projects__link::before {
      background-image: $gradient-project-prof;
    }
  }

}

.projects__link {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  padding: 55px 60px 75px;
  position: relative;
  display: block;
  height: 100%;
  transition-duration: 0.3s;

  @include media(mtp) {
    padding: 25px 20px 30px;
  }

  @include media(msp) {
    padding: 35px 30px 40px;
  }

  &:hover {
    color: #fff;

    .projects__type::after {
      background-image: none;
      background-color: #fff;
    }

    &::before {
      width: 500px;
      height: 500px;
      transform: translate(-60px,-100px);
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-35px, -35px);
    transition-duration: 0.5s;
  }
}

.projects__type {
  color: inherit;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 32px;
  position: relative;

  @include media(mtp) {
    font-size: 14px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -17px;
    transform: translateX(-50%);
    width: 58px;
    height: 2px;
    margin-top: 15px;
    background-color: #f54c30;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.5s;
  }
}

.projects__title {
  color: inherit;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;

  @include media(mtp) {
    font-size: 24px;
  }
}

.projects__author {
  font-size: 14px;
  line-height: 1.2;
  color: inherit;
  position: relative;
}

.projects__button {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 260px;

  &--loader {
    pointer-events: none;
    font-size: 0;
    background-image: none;
    width: 10px;
    height: 10px;
    padding: 0;
    min-width: unset;
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: -17px 0 0 0 #ccc, 17px 0 0 0 #ccc;
    transition-duration: 0;

    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    &::before {
      content: none;
    }
  }
}

