.projectTeam {
  margin-bottom: 60px;
}

.projectTeam__inner {}

.projectTeam__heading {
  @include title-line;
  margin-bottom: 20px;
}

.projectTeam__subHeader {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.projectTeam__dscr {
  font-size: 26px;
  margin-bottom: 30px;

  @include media(mtp) {
    font-size: 22px;
  }

  @include media(msl) {
    font-size: 20px;
  }
}

.projectTeam__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.projectTeam__item {
  lost-column: 1/5 5 25px;
  text-align: center;
  margin-bottom: 50px;

  @include media(msl) {
    lost-column: 1/3 3 25px;
  }

  @include media(msp) {
    lost-column: 1/2 2 25px;
  }
}

.projectTeam__photo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 240px;
  margin-bottom: 15px;

  @include media(mtl) {
    height: 20vw;
  }

  @include media(msl) {
    height: 32vw;
  }

  @include media(msp) {
    height: 42vw;
  }

  img,
  svg {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.projectTeam__name {
  color: $color-title;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.167;
  margin-bottom: 5px;

  @include media(mtp) {
    font-size: 16px;
  }
}

.projectTeam__role {
  font-size: 22px;
  line-height: 1.2727;

  @include media(mtp) {
    font-size: 16px;
  }
}


