.projectsFilter {
  margin-bottom: 20px;
}

.projectsFilter__inner {
  display: flex;
  justify-content: space-between;

  @include media(msl) {
    display: block;
  }
}

.projectsFilter__item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: $shadow;
  box-sizing: border-box;

  &--categories {
    lost-column: 2/3 3 10px;
    padding: 11px 18px 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include media(msl) {
      lost-column: 1/1 1 0;
      margin-bottom: 10px;
    }
  }

  &--search {
    lost-column: 1/3 0 10px;
    position: relative;

    @include media(msl) {
      lost-column: 1/1 1 0;
    }
  }
}

.projectsFilter__category {
  user-select: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

.projectsFilter__checkbox {
  display: none;

  &:checked + .projectsFilter__label {
    color: #fff;
    background-color: #232323;

    &--it {
      background-color: $color-project-it;
    }

    &--social {
      background-color: $color-project-social;
    }

    &--culture {
      background-color: $color-project-culture;
    }

    &--tech {
      background-color: $color-project-tech;
    }

    &--management {
      background-color: $color-project-management;
    }

    &--prof {
      background-color: $color-project-prof;
    }
  }

}

.projectsFilter__label {
  border-radius: 6px;
  border: 1px solid;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  padding: 0.46em 0.65em;
  cursor: pointer;
  display: block;
  transition-duration: 0.2s;

  &--it {
    border-color: $color-project-it;
  }

  &--social {
    border-color: $color-project-social;
  }

  &--culture {
    border-color: $color-project-culture;
  }

  &--tech {
    border-color: $color-project-tech;
  }

  &--management {
    border-color: $color-project-management;
  }

  &--prof {
    border-color: $color-project-prof;
  }
}

.projectsFilter__search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 15px 40px 15px 45px;
  box-sizing: border-box;
  line-height: 1;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 14px center;
  outline: none;

  &::placeholder {
    color: #d0c9d6;

    @include media(mtp) {
      font-size: 14px;
    }
  }
}

.projectsFilter__searchCleaner {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='15'%3E%3Cdefs%3E%3Cpath id='a' d='M4004.704 792.42l-1.283 1.284-1.926-1.925-1.926 1.925-1.283-1.283 1.925-1.926-1.925-1.926 1.283-1.283 1.926 1.925 1.926-1.925 1.283 1.283-1.925 1.926zM4001.5 783c-4.125 0-7.5 3.375-7.5 7.5s3.375 7.5 7.5 7.5 7.5-3.375 7.5-7.5-3.375-7.5-7.5-7.5z'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' transform='translate(-3994 -783)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.projectsFilter__foundList {
  position: absolute;
  top: calc(100% - 8px);
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  z-index: 2;
  border: 1px solid #ecebed;
  border-top: none;
  padding: 8px 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    background-image: linear-gradient(90deg, #ecebed 6px, transparent 5px);
    background-size: 11px;
  }
}

.projectsFilter__foundListItem {
  padding: 8px 40px 8px 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(#3f3356, 0.3);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  
  strong {
    color: #3f3356;
  }

  &:hover,
  &--hover {
    color: #3f3356;

    &::after {
      content: '';
    }
  }

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-image: url(../images/search-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
