.projectButtons {
  margin-bottom: 65px;
}

.projectButtons__inner {
  display: flex;
  justify-content: center;

  @include media(msp) {
    display: block;
    text-align: center;
  }
}

.projectButtons__button {
  margin-right: 35px;

  @include media(msl) {
    padding: 0.9em 1.5em;
    margin-right: 20px;
  }

  @include media(msp) {
    margin-right: 0;
    margin-bottom: 10px;
    min-width: 228px;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}
