.projectAbout {
  margin-bottom: 80px;
}

.projectAbout__inner {}

.projectAbout__heading {
  @include title-line;
  margin-bottom: 20px;
}

.projectAbout__img {
  flex-shrink: 0;
}

.projectAbout__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media(msl) {
    padding-left: 0;
    display: block;
  }

}

.projectAbout__img {
  flex-shrink: 0;
  margin-right: 35px;

  @include media(msl) {
    //display: none;
    max-width: 250px;
    margin-right: 0;
    margin-left: 40px;
    margin-bottom: 30px;
    float: right;
  }

  @include media(msp) {
    float: none;
    max-width: unset;
    margin-left: 0;
  }

  img {
    box-shadow: $shadow;

    @include media(msp) {
      width: auto;
    }
  }
}

.projectAbout__text {}

.projectAbout__body {
  font-weight: 400;
  line-height: 1.625;
  margin-bottom: 35px;
}

.projectAbout__button {
  font-size: 14px;
  padding: 0.9em 1.6em;
}
