.projectTiter {
  padding-top: 90px;
  padding-bottom: 135px;

  @include media(msl) {
    padding-top: 60px;
  }

  > svg {
    width: 0;
    height: 0;
    position: relative;
  }
}

.projectTiter__inner {
  background-color: #fff;
  position: relative;
  padding: 55px 40px 45px;
  border: 2px solid #fe589c;

  @include media(mtl) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include media(mtp) {
    padding: 30px 30px 35px;
  }

  @include media(msl) {
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 20px 20px;
  }
}

.projectTiter__type {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: $gradient-project-social;
  /* Style for "Социо-куль" */
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 20px;

  @include media(mtp) {
    font-size: 20px;
  }

  @include media(msl) {
    font-size: 14px;
  }
}

.projectTiter__heading {
  @include title-line {
    @include media(msp) {
      content: none;
    }
  }
  color: #000;
  max-width: 9em;

  @include media(mtl) {
    max-width: 8em;
  }

  @include media(mtp) {
    font-size: 44px;
    max-width: 8.4em;
  }

  @include media(msl) {
    max-width: unset;
  }
}

.projectTiter__body {
  font-size: 26px;
  line-height: 1.231;
  max-width: 26em;
  margin-bottom: 25px;

  @include media(mtl) {
    font-size: 22px;
  }

  @include media(mtp) {
    font-size: 16px;
    max-width: 50%;
  }

  @include media(msl) {
    max-width: unset;
  }
}

.projectTiter__pm {
  color: #000;

  @include media(mtp) {
    font-size: 14px;
  }

  @include media(msl) {
    margin-bottom: 20px;
  }
}

.projectTiter__label {
  font-weight: 700;
}

.projectTiter__value {
}

.projectTiter__img {
  position: absolute;
  top: -70px;
  right: -160px;
  width: 620px;
  display: block;
  transform: translateZ(0);
  //box-shadow: 0 2px 60px rgba(0, 0, 0, 0.1);

  @include media(mtl) {
    width: 490px;
    top: -50px;
    right: unset;
    left: 63%;
  }

  @include media(mtp) {
    width: 400px;
    left: 53%;
  }

  @include media(msl) {
    position: static;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
    max-width: 700px;
  }
}

