.projectGoals {
  margin-bottom: 80px;
}

.projectGoals__inner {}

.projectGoals__heading {
  @include title-line;
  margin-bottom: 20px;
}

.projectGoals__body {
  font-weight: 400;
  line-height: 1.625;
  max-width: 48em;
}

