.projectNews {
  margin-bottom: 65px;
}

.projectNews__inner {}

.projectNews__heading {
  @include title-line;
  margin-bottom: 20px;
}

.projectNews__list {
  @include list-reset;

  display: flex;
  padding: 40px 0;
}

.projectNews__item {
  width: 25%;
  padding: 0 20px;
  box-sizing: border-box;

  @include media(msl) {
    padding: 0 15px;
  }

  &:not(.tns-slide-active) {
    opacity: 0;
  }
}

.projectNews__card {
  height: 100%;
  box-sizing: border-box;
  box-shadow: $shadow-news-card;
  display: block;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 13px 20px 20px;
  text-decoration: none;
  transition-duration: 0.3s;

  &:hover {
    box-shadow: $shadow-news-card-hover;

    .projectNews__title {
      color: $color-link;
    }
  }
}

.projectNews__date {
  line-height: 1;
  margin-bottom: 10px;
}

.projectNews__title {
  font-weight: 400;
  font-size: inherit;
  color: inherit;
  transition-duration: 0.3s;
}

.projectNews__slider {
  position: relative;
  margin: -40px -80px 0;

  @media(max-width: 1300px) {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.projectNews__arrows {
  position: absolute;
  top: 75px;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}

.projectNews__arrow {
  display: block;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 0;
  color: transparent;
  width: 14px;
  height: 25px;
  background-image: $icon-prev;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: auto;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &--prev {
  }

  &--next {
    transform: rotate(180deg);
  }
}

.projectNews__dots,
.tns-nav {
  @include list-reset;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @include media(mtp) {
    margin-top: 10px;
  }
}

.projectNews__dot,
.tns-nav button {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  border-radius: 50%;
  background-image: none;
  background-color: #ece9f1;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  position: relative;

  &:hover {
    border: 1px solid #6979f8;
  }

  &--active,
  &.tns-nav-active {
    background-color: #6979f8;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }
}
