.regProject {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
  color: #fff;
  background-color: #fe4fa7;
  background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
  background-size: cover;

  @include media(mtp) {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  @include media(msl) {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  @include media(msp) {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

.regProject__inner {
}

.regProject__heading {
  color: inherit;
  margin-bottom: 15px;
  font-size: 55px;

  @include media(mtp) {
    font-size: 45px;
  }

  @include media(msl) {
    font-size: 36px;
  }

  @include media(msp) {
    font-size: 32px;
    line-height: 1.1;
  }
}

.regProject__dscr {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.154;
  margin-bottom: 40px;

  @include media(mtp) {
    font-size: 22px;
  }

  @include media(msl) {
    font-size: 18px;
  }

  @include media(msp) {
    font-size: 20px;
  }
}

.regProject__body {
  margin-top: -10px;
  font-size: 18px;
  font-weight: 400;

  &::before {
    content: url(../images/like@white.svg);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}

.regProject__button {}

.regProject__form {
  max-width: 930px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;

  @include media(msl) {
  }
}

