.sheme {
  margin-bottom: 75px;
}

.sheme__inner {}

.sheme__heading {
  @include title-line;
  margin-bottom: 20px;
}

.sheme__img {
  background-color: #fff;
  box-shadow: $shadow;
  padding: 50px 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(msl) {
    padding: 10px 20px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}