.tabSchool {
  box-shadow: $shadow-person-features;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 58px 41px 44px;
}

.tabSchool__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.tabSchool__item {
  lost-column: 1/2;
  margin-bottom: 35px;
  position: relative;
  padding-left: 46px;
  box-sizing: border-box;

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 27px;
    height: 27px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.tabSchool__title {
  color: $color-text;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 13px;
}

.tabSchool__text {
  font-size: 14px;
  line-height: 1.1429;
}

.tabSchool__form {
  margin-top: 25px;
}

