.titer {
  padding-top: 125px;
  padding-bottom: 155px;

  @include media(mtp) {
    padding-top: 75px;
  }

  @include media(msl) {
    padding-top: 45px;
    padding-bottom: 80px;
  }
}

.titer__inner {
  position: relative;
}

.titer__heading {
  @include title-line;
  color: #000;
  margin-bottom: -10px;

  @include media(mtp) {
    margin-bottom: 0;
  }
}

.titer__body {
  color: #000000;
  font-size: 26px;
  line-height: 1.231;
  max-width: 20em;
  margin-bottom: 30px;

  @include media(mtp) {
    font-size: 22px;
  }

  @include media(msl) {
    font-size: 20px;
  }
}

.titer__button {}

.titer__projects {
  position: absolute;
  top: -138px;
  left: 470px;
  pointer-events: none;

  @include media(mtl) {
    left: 390px;
  }

  @include media(mtp) {
    top: -70px;
    left: 230px;
    transform: scale(0.7);
  }

  @include media(msl) {
    display: none;
  }
}

.titer__bySupport {
  margin-top: 100px;

  @include media(mtp) {
    margin-top: 80px;
  }
}

