.video {
  position: relative;
  cursor: pointer;

  &:hover {
    .video__play {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.video__play {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  background-image: $gradient-button;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;

  @include media(mtl) {
    width: 6vw;
    height: 6vw;
  }

  @include media(msl) {
    width: 10vw;
    height: 10vw;
  }

  &::after {
    content: '';
    width: 13px;
    height: 13px;
    background-image: url(../images/play.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;

    @include media(mtl) {
      width: 10px;
      height: 10px;
    }
  }
}
