.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: $color-bg-footer;
  color: #fff;

  @include media(msl) {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
  }
}

.footer__inner {
  @include grid;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(msl) {
    display: block;
  }
}

.footer__name {
  font-weight: 700;

  @include media(msl) {
    margin-bottom: 20px;
  }

  span {
    margin-left: 5px;
    font-weight: 300;
  }
}

.footer__button {
  color: #fff;
  font-size: 14px;
  border-color: #979797;
  padding: 0.9em 3.2em;
  margin-right: auto;
  margin-left: 27px;

  @include media(msl) {
    margin-bottom: 30px;
  }
}

.footer__developer {
  display: flex;
  align-items: center;

  @include media(msl) {
    justify-content: center;
  }

  a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: '';
      display: block;
      width: 38px;
      height: 2px;
      background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

