.header  {
  padding-top: 35px;

  @include media(mtp) {
    padding-top: 20px;
    position: relative;
    z-index: 1000;
  }

  @at-root .page--front & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
  }
}

.header__inner {
  @include grid;
  //padding-left: 60px;
  //padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-right: 60px;

  @include media(msl) {
    font-size: 16px;
  }

  @include media(msp) {
    max-width: 6em;
  }

}

.header__menu {
  margin-right: auto;

  @include media(mtp) {
    display: none;
  }
}

.header__loginButtons {
  @include media(mtp) {
    display: none;
  }
}
