.page {
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;

  //&--front {
  //  background-image: url(../images/shape-header.svg);
  //  //background-position: 56% -66vw;
  //  //background-size: 140vw auto;
  //  background-position: 56% -1056px;
  //  background-size: 2240px auto;
  //
  //  @include media(mtp) {
  //    background-position-y: -460px;
  //    background-size: 1370px auto;
  //  }
  //
  //  @include media(msl) {
  //    background-position-y: -270px;
  //    background-size: 1075px auto;
  //  }
  //
  //  @include media(msp) {
  //    background-position-x: 36%;
  //  }
  //}

  &--notFront {
    background-image:
        url(../images/project-top-shape.svg),
        url(../images/project-bottom-shape.svg);
    background-size: 105%, 105%;
    background-position: 50% 0, 50% calc(100% - 120px);
  }

  &--allProjects {
    background-image: url(../images/all-project-shape.svg), url(../images/all-project-list-shape.svg);
    background-size: 120%, auto;
    background-position: center -10vw,calc(50% + 380px) 1070px;

    @media (max-width: 1600px) {
      background-size: 1600px, auto;
    }

    @include media(mtl) {
      background-size: 180%, 980px;
      background-position: center -10vw, calc(50% + 230px) 1110px;
    }

    @include media(mtp) {
      background-size: 160%, 980px;
      background-position: center -10vw,calc(50% + 230px) 810px;
    }

    @include media(msp) {
      background-size: 260%,980px;
    }
  }

  &::after {
    //content: '';
    position: absolute;
    z-index: 9999;
    top: -777px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    pointer-events: none;
    opacity: 0.3;
    background-image: url(../images/pp/new-home.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto;
  }
}

.page__layout {
  overflow-x: hidden;
}
