// footer
+b('footer', { b: 'block' }, 'footer')
  +e('inner', { e: 'block' })
    +e('name') Академия Школьных Проектов
      span | 2019

    +b('button', { e: '&', m: 'empty' }, 'a')(href="#0" data-modal=".modal--regTracker") Регистрация трекера

    +e('developer') Сделано в#{' '}
      a(href="#0" target="_blank") insaim
