// header
+b('header', '', 'header')
  +e('inner')
    +e('logo')(href="/index.html") Академия Школьных Проектов
    +e('mobMenuButton')
      button.mobMenu__button Меню
    +e('menu')
      include ../components/menu
    +e('loginButtons')
      include ../components/login-buttons
