doctype html


include ../../../node_modules/bempug/index

-
  var body_classes = ['front'];
  var css = [
  './css/styles.css'
  ];
  var js = [
    // 'https://code.jquery.com/jquery-3.3.1.min.js',
    'https://unpkg.com/axios/dist/axios.min.js',
    './js/main.js'
  ];

block vars


html

  head
    title Академия Школьных Проектов
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    for i in css
      link(rel="stylesheet" href=i)





  +b('page', {}, 'body')(class=body_classes)
    +e('layout')

      include header

      +e('main', {}, 'main')
        block content

      include footer
      include ../components/mob-menu
      include ../components/modals/modal-reg-tracker

    for i in js
      script(type="text/javascript" src=i)
